<!doctype html>
<html lang="en">

<head>
    <!-- The following 2 meta tags always come first -->
    <!-- Notify browsers this page is in Unicode -->
    <meta charset="utf-8">
    <!-- This site is responsive. Use full screen width. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>craftBOK: software craft body of knowledge</title>
    <meta name="description" content="craftBOK">
    <meta name="keywords" content="craftBOK, crafting, software development,software development practices, XP">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="index.html" class="btn btn-link">Practices</a>
            <a href="about.html" class="btn btn-link">About</a>
        </section>
        <section class="navbar-center">
            <img
                src="https://avatars0.githubusercontent.com/u/55133721?s=50&u=d144e88b276e7846f23ec860300c2ef6b6c43c57&v=4">
        </section>
        <section class="navbar-section">
            <a href="#" class="btn btn-link">Twitter</a>
            <a href="https://github.com/craftBOK/documentation" class="btn btn-link">GitHub</a>
        </section>
    </header>

    {{ content }}

</body>

</html>
